* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
}

body {
  background-color: #262626;
}